general.startScreenWidth=53
general.startScreenHeight=23

# maksymalny czas gry w sekundach
general.maxTime=50

frog.skinOne=A
frog.skinTwo=a

car.speedUpFactor=5
car.speedUpChances=10
car.slowDownChances=10
car.returnChances=10
car.wrapChances=50
car.breakDistance=2
car.carsNumber=10

# y | n
useSeed=true
seed=123

color.brick.font=192.50.72
color.brick.back=0.0.0


stork.skin=s