general.startScreenWidth=53
general.startScreenHeight=23

# maksymalny czas gry w sekundach
general.maxTime=50

frog.skinOne=A
frog.skinTwo=a

car.speedUpFactor=5
car.speedUpChances=10
car.slowDownChances=10
car.returnChances=10
car.wrapChances=50
car.breakDistance=2
car.carsNumber=10

# y | n
useSeed=y
seed=123

files.bestScoresFileName=best.txt
building.skin=W

# r.g.b in hex
color.grass.font=41.98.0A
color.grass.back=41.98.0A
color.frog.font=99.13.8E
color.frog.back=00.00.00