gseneral.startScreenWidth=53
gseneral.startScreenHeight=23

# maksymalny czas gry w sekundach
gseneral.maxTime=50

fsrog.skinOne=A
fsrog.skinTwo=a

csar.speedUpFactor=5
csar.speedUpChances=10
csar.slowDownChances=10
csar.returnChances=10
csar.wrapChances=50
csar.breakDistance=2
csar.carsNumber=10

# y | n
useSeed=y
seed=123

files.bestScoresFileName=best.txt
bsuilding.skin=W

# r.g.b in hex
cdolor.grass.font=41.98.0A
cdolor.grass.back=41.98.0A
cdolor.frog.font=99.13.8E
cdolor.frog.back=00.00.00