general.startScreenWidth=53
general.startScreenHeight=26
general.gameOverScreenWidth=56
general.gameOverScreenHeight=45
general.maxTime=150

frog.skinOne=F
frog.skinTwo=f
frog.jumpTime=500

car.speedUpFactor=3
car.speedUpChances=5
car.slowDownChances=5
car.returnChances=50
car.wrapChances=10
car.breakDistance=3
car.carsNumber=3
car.minSpeed=3
car.maxSpeed=10
car.bikeSkin=#
car.carSkin=##
car.truckSkin=###

road.roadNumber=5

building.skin=A
building.buildingsNumber=5

stork.startX=0
stork.startY=0

stork.speed=0.5
stork.skin=S

board.width=40

# y | n
useSeed=y
seed=5

home.skin=H

files.bestScoresFileName=level3.txt
files.self=Level1.config

# r.g.b in hex

colors.GrassFont=41.98.10
colors.GrassBack=41.98.10

colors.FrogFont=99.C6.8E
colors.FrogBack=00.00.00

colors.RoadFont=B3.B3.B3
colors.RoadBack=B3.B3.B3

colors.HomeFont=FF.00.00
colors.HomeBack=41.98.10

colors.TaxiFont=FF.FF.0
colors.TaxiBack=00.00.00

colors.FrogBloodFontFont=78.6.6
colors.FrogBloodFontBack=00.00.00

colors.BloodFont=78.6.6
colors.BloodBack=78.6.6

colors.WindowFont=00.00.FF
colors.WindowBack=00.00.00

colors.BrickFont=BC.74.60
colors.BrickBack=00.00.00

colors.GrassHomeFont=41.98.10
colors.GrassHomeBack=00.00.00

colors.BadCarFont=FF.00.00
colors.BadCarBack=00.00.00

colors.FriendlyCarFont=00.FF.00
colors.FriendlyCarBack=00.00.00

colors.StorkFont=FF.00.00
colors.StorkBack=FF.FF.FF

colors.CarLightFont=FF.FF.00
colors.CarLightBack=00.00.00

colors.BuildingFont=BC.74.60
colors.BuildingBack=41.98.10